:root {
    --primary-text-background-color: #000;
    --secondary-text-background-color: #fff;
    --primary-title-background-color: #dbf6fe;
    --secondary-title-background-color:#62a6be;
}

.container {
min-width: 390px;
}
.main-title{
        position: absolute;
        font-family: "Rouge Script", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 80px;
        line-height: 62px;
        color: #ffecd4;
        margin-top: 520px;
        margin-left: 27px;
}
.main-photo{
left: 0;
max-width: 480px;
margin-top: -1;

   
}
.second-page{
        background-image: url(images/page2.jpg);
        height: 800px; 
}
.datetext{
    font-family: "Rouge Script", cursive;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        margin-top: 77px;
        font-size: 30px;
}
.secondpage-title{
        font-family: "Rouge Script", cursive;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        padding-top: 153px;
        margin-top: -1px;
        font-size: 65px;
        
}
.secondtext{
    margin-top: 53px;
    text-align: center;
    font-family: "Scada", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 21px;
        padding-right: 15px;
        padding-left: 15px;
}
.calendar{
    margin-left:53px;
    margin-top: 30px;
}

