:root {
    --primary-text-background-color: #000;
    --secondary-text-background-color: #fff;
    --primary-title-background-color: #dbf6fe;
    --secondary-title-background-color:#62a6be;
}
.container {
    min-width: 390px;
 

}
.main-photo{
    width: 100%;
    height: auto;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
}

